

<hr />
@foreach (var statistika in @Model.Statistike_tecaja)
{
    <p>@statistika.Rezultat</p>
}
<hr />
@foreach (var statistika in @Model.Statistike_ispita)
{
    <p>@statistika.Rezultat</p>
}
<hr />
