@model JAPAN.ViewModels.KorisnikTecajViewModel
@{
    ViewData["Title"] = "Tecaj";
}

<h1>Tecaj</h1>
<table>
    <thead>
        <tr>
            <th>Tecaj</th>
            <th>Rezultat</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Tecaj.Naziv</td>
            <td>@Model.Rezultat</td>
        </tr>
    </tbody>
</table>
