html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.badge-high {
    background-color: #28a745; /* Green */
    color: white;
}

.badge-medium {
    background-color: #ffc107; /* Yellow */
    color: black;
}

.badge-low {
    background-color: #dc3545; /* Red */
    color: white;
}

.btn-group {
    gap: 10px;
}


.home-logo {
    width: 150px;
    margin-bottom: 20px;
}

.home-display-4 {
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home-lead {
    font-size: 1.5rem;
}

.home-btn-primary {
    background-color: #ff3545;
    border-color: #dc3545;
    font-size: 1.25rem;
    padding: 10px 20px;
}

    .home-btn-primary:hover {
        background-color: #dc3545;
        border-color: #ff3545;
    }
