@{
    ViewData["Title"] = "Learn Japanese";
}

<div class="home-background">
    <div class="text-center">
        <img src="~/images/logo.jpg" alt="App Logo" class="home-logo img-fluid">
        <h1 class="home-display-4">無料で楽しく効果的な日本語学習法です。</h1>
        <h1 class="home-display-4">Besplatan, zabavan i učinkovit način učenja Japanskog!</h1>
        <p class="home-lead">Riješite inicijalnu provjeru i započnite s učenjem!</p>
        <a class="btn home-btn-primary btn-lg" asp-controller="Tecaj" asp-action="KorisnikTecaji">Započni s učenjam</a>
    </div>
</div>
