@model JAPAN.ViewModels.UserProfileViewModel
@{
    ViewData["Title"] = "Profil";
}

<div>
    <p>Korisnički identifikator: @Model.Identifikator</p>
    <p>Korisničko ime:           @Model.Korisnickoime</p>
    <p>Uloga:                    @Model.Uloga</p>
</div>